<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<style>
  .page__hero--overlay {
    background-size: 100% auto;
    background-position: top left;
    background-color: white !important;
  }
  .page__hero--overlay .btn--light-outline {
    background-color: #1a1a1a;
    color: #fff;
    border-color: #1a1a1a;
  }
  .page__hero--overlay .btn--light-outline:hover {
    background-color: #3d4144;
    border-color: #3d4144;
  }
</style>

<!-- end custom head snippets -->
